/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap&subset=cyrillic-ext');
/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* font-family: "Poppins", sans-serif; */

    @font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/* font-family: "Helvetica Neue", sans-serif;  */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    /* padding: 50px; отступ чтобы выделить домашнее задание */
}
/* -------------------------------------- */

.header {
    text-align: center;
    background-color: #e64c9e;
    padding: 25px;
    margin: 0 0 100px 0;
}

.header__title {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}

.block-one {
    max-width: 300px;
    padding: 25px;
    background-color: #7e9f99;
    margin: 0 0 20px 100px;
    text-align: center;
}

.block-one__link, .block-one p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 5px;
    color: #ddff00;
}

.block-one__link:visited {
    color: #933de4;
}

.block-one:hover .block-one__link {   /*Обращение к дочернему элементу, при состоянии ("при наведении") родителя*/
    color: #ff0000;
}

/* -------------------------------------------------- */

.block-two {
    max-width: 300px;
    padding: 25px;
    background-color: #7e9f99;
    margin: 0 0 20px 150px;
    text-align: center;
}

.block-two__link, .block-two p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 5px;
    color: #ddff00;
}

.block-two__link:visited {
    color: #933de4;
}

.block-two__link:hover {
    color: #ff0000;
}

/* -------------------------------------------------- */

.block-three {
    max-width: 300px;
    margin: 0 0 100px 200px;
    text-align: center;
}

.block-three p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #ddff00;
    letter-spacing: 5px;
}

.block-three__button {
    display: block;
    border-radius: 5px;
    padding: 20px 30px;
    color: #fff;
    background-color: #7edc94;
    box-shadow: 8px 8px 0px #493d5f;
    position: relative;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    color: #ddff00;

}
.block-three__button:hover {
    background-color: #9c48c9;
}
.block-three__button:active {
    top: 4px;
    box-shadow: 0px 4px 0px #493d5f;
}

/* -------------------------------------------------- */

.block-for {
    max-width: 1020px;
    margin: 0 auto 100px;
    padding: 50px;
    background-color: rgb(155, 147, 147);
}

.block-for p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.block-for p:not(:last-child) {
    margin: 0 0 20px 0;
}

.block-for p:first-of-type {
    color: #fff;
}

.block-for p:last-of-type {
    color: #ff0000;
}

.block-for p:nth-child(2) {
    color: #0000ff;
}

/* -------------------------------------------------- */

.block-five {
    max-width: 1020px;
    margin: 0 auto 100px;
    padding: 50px;
    background-color: rgb(155, 147, 147);
}

.block-five ul {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.block-five li:not(:last-child) {
    margin: 0 0 20px 0;
}

.block-five li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #00ffe5;
    vertical-align: top;
    border-radius: 50%;
    margin: 4px 10px 0px -30px;
}

.block-five li:hover::before {
    background-color: #933de4;
}

.block-five li:hover {
    color: #fff;
}

/* -------------------------------------------------- */

.block-six {
    max-width: 1020px;
    margin: 0 auto 100px;
    padding: 50px;
    background-color: rgb(155, 147, 147);
}

.block-six ol {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.block-six__list {
    counter-reset: item;
}

.block-six__list li::before {
    counter-increment: item;
    content: counter(item) ")";
    display: inline-block;
    vertical-align: top;
    color: red;
    margin: 0 20px 0 0;
}

.block-six__list li:hover {
    color: #0000ff;
}

/* -------------------------------------------------- */

.block-doggie {
    max-width: 1040px;
    background: #F5F5F5;
    margin: 0 auto 100px;
}
.block__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 27px; /*значение завышено для того, чтобы выровнять уровень с картинкой*/
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
    background: url("../img/logodog.png") 0 0 no-repeat;
    padding: 0 0 0 33px; /*30пк это растояние от текста до логотипа 16пк + размер логотипа 17пк = 33*/
    margin: 0 0 35px 0; /*отступ сделан на глаз, меньше чем по макету, т.к. нужно учесть высоту самого объекта*/
}

.block__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000;
    margin: 0 0 72px 0;
}

/* .container {
} */

.container div:not(:last-child){
    margin: 0 30px 0 0;
}

.container-content {
    max-width: 324px;
    display: inline-block;
}

.container-content__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #F2726F;
    margin: 0 0 20px 0;
}
.container-content__text {
    max-width: 235px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.lovecare {
    background: url("../img/dog_love.png") 0 0 / 63px no-repeat;
    padding: 0 0 0 88px; /*88пк это растояние от текста до логотипа + размер логотипа*/
    /* margin: 0 30px 0 0; */
}

.veterinarian {
    background: url("../img/dog_vet.png") 0 0 / 63px no-repeat;
    padding: 0 0 0 88px; /*88пк это растояние от текста до логотипа + размер логотипа*/
    /* margin: 0 30px 0 0; */
}

.cameras {
    background: url("../img/dog_stream.png") 0 0 / 63px no-repeat;
    padding: 0 0 0 88px; /*88пк это растояние от текста до логотипа + размер логотипа*/
}

/* ----------------------------------------------- */

.block-healthyfood {
    max-width: 1040px;
    background-color: #1A1A1A;
    padding: 50px 0 50px 0;
    margin: 0 auto 100px;
}

.healthyfood-block__choose {
    max-width: 255px;
    margin: 0 auto;
    padding: 24px 24px 55px 24px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.healthyfood-block__choose:hover {
    background: #34C759;
}

.healthyfood-choose__title {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    color: #fff;
    margin: 0 0 24px 0;
}

.healthyfood-choose__title::after {
    content: "";
    display: inline-block;
    width: 56px;
    height: 2px;
    background: #34C759;
}

.healthyfood-block__choose:hover .healthyfood-choose__title, 
.healthyfood-block__choose:hover .healthyfood-choose__text {
    color: #191919;
}

.healthyfood-block__choose:hover .healthyfood-choose__title::after {
    background-color: #191919;
}

.healthyfood-choose__text {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: rgba(255, 255, 255, 0.5);
}